.best-selling-div {
    background-color: #1f1f1f;
    height: 54rem;
    z-index: 10;
    position: sticky;
    top: 6rem;
}

.best-selling-display {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.best-selling-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-out;
    animation: float 4s ease-in-out infinite;
    will-change: transform;
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    border: 3px solid transparent;

    transform-style: preserve-3d;
}

/* Floating animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Magnetic hover */
.best-selling-product.hovered {
    transform: scale(1.05);
    border-radius: 1rem;
    background: linear-gradient(#1f1f1f, #1f1f1f) padding-box,
        /* inner background */ var(--glow) border-box; /* gradient border */
    background-clip: padding-box, border-box;
    animation: none;
}

.best-selling-image {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.best-selling-header {
    color: white;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
