.filter-div {
    width: 10rem;
    height: 30rem;
    position: sticky;
    background: #151515;
    display: flex;
    flex-direction: column;
}

.filter-checkbox-label {
    font-family: "Agdasima", serif;
    font-size: 1.3rem;
    color: white;
}

.filter-checkbox {
    /* background: white; */
}
