.kit-slides-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.kit-slide-chevron {
    color: black;
    cursor: pointer;
}

.kit-slide-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 60%;
}

.kit-slide-image {
    width: 25rem;
    height: 25rem;
}

.kit-slide-text {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    width: 100%;
}

.kit-slide-header {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}

.kit-slide-desc {
    font-family: "Agdasima", serif;
    font-size: 1.75rem;
}
