.landing-page {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.shop-now-div {
    background-color: #303030;
    height: 50rem;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.browse-shop-row {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 4rem;
}
