.navbar-div {
    background-color: #151515;
    color: white;
    height: 6rem;
    padding: 0rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-title {
    font-family: "Adamina", serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-routes {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-family: "Agdasima", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    transition: ease-in-out 0.2s;
}

.navbar-link:hover {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    transform: translateY(-2px);
}

.navbar-account-div {
    background: #1f1f1f;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: ease-in-out 0.2s;
    position: relative;
    cursor: pointer;
}

.navbar-account-div:hover {
    background: white;
    border: 2px solid #1f1f1f;
    color: #1f1f1f;
}

.navbar-account-icon {
    display: block;
}

.navbar-account-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: rgb(21, 21, 21);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    z-index: 100;
    opacity: 0;
    transform: translateY(-6px);
    animation: dropdownIn 120ms ease-out forwards;
    width: 9rem;
}

@keyframes dropdownIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-account-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-family: "Agdasima", serif;
    font-size: 1.3rem;
    border-radius: 6px;
    background: none;
    border: none;
    text-align: left;
    background: transparent;
    cursor: pointer;
    text-align: center;
}

.navbar-account-link:hover {
    background: rgba(255, 255, 255, 0.89);
    color: black;
}

@media (max-width: 1280px) {
    .navbar-div {
        padding: 0rem 2rem;
    }

    .navbar-title {
        font-size: 1.3rem;
    }

    .navbar-routes {
        gap: 3rem;
    }

    .navbar-link {
        font-size: 1.3rem;
        padding: 0.75rem 1rem;
    }

    .navbar-account-div {
        width: 1.5rem;
        height: 1.5rem;
    }

    .navbar-account-dropdown {
        transform: translateY(-6px);
        width: 6rem;
    }

    .navbar-account-link {
        font-size: 1.1rem;
        padding: 0.25rem 0.5rem;
    }
}
