.navbar-div {
    background-color: #151515;
    color: white;
    height: 6rem;
    padding: 0rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-family: "Adamina", serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-routes {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-family: "Agdasima", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
}

.navbar-link:hover {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    transform: translateY(-2px);
}

.navbar-account-div {
    background: #1f1f1f;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar-account-div:hover {
    background: white;
    border: 2px solid #1f1f1f;
    color: #1f1f1f;
    cursor: pointer;
}
