.product-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: transparent;
    align-items: center;
}

.product-card-image {
    width: 20rem;
    height: 20rem;
}

.product-card-name {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.fade-product-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeProductIn 0.5s ease-out forwards;
}

@keyframes fadeProductIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
