.product-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: transparent;
    align-items: center;
    border: 3px solid transparent;
    padding: 0.5rem;
    position: relative;
    width: 15rem;
}

.product-card:hover {
    background: linear-gradient(#1f1f1f, #1f1f1f) padding-box,
        /* inner background */ var(--glow) border-box; /* gradient border */
    background-clip: padding-box, border-box;
    border-radius: 8px;
    transform: translateY(-2px);
}

.product-card-icons {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    display: flex;
    gap: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 20;
    background: #1f1f1fc1;
    padding: 0.8rem;
    border-radius: 8px;
}

.product-card:hover .product-card-icons {
    opacity: 1;
}

.product-card-icon {
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.product-card-icon:hover {
    transform: scale(1.2);
}

.product-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.product-card:hover .product-card-content {
    filter: brightness(0.8);
}

.product-card-image {
    width: 15rem;
    height: 15rem;
    cursor: pointer;
}

.product-card-text-div {
    width: 100%;
    background: #101010;
    padding: 0.5rem 0;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.product-card-name {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    margin: 0.25rem;
}

.fade-product-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeProductIn 0.5s ease-out forwards;
}

@keyframes fadeProductIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
