@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Agdasima:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-track {
    background: #404040;
}

html::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #777;
}

html::-webkit-scrollbar-button {
    display: none;
}

.page {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

.section-title {
    font-size: 3rem;
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 700;
    text-align: center;
}
